<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="LearningAPIautomation11x">
        <classes>
            <class name="com.thetestingacademy.ex_02_TestNG_AllureReoprt.ApiTesting_lab003">

            </class>
        </classes>
    </test>
</suite>